.card {
  width: 100%;
  height: 100%;

  @include flexbox-vertical;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  position: absolute;
  //top: 0;
  //left: 0;

  background-color: #FFF;

  border-radius: $card-border-radius;

  @include shadow-2;

  -webkit-transform: translate3d(0, 0, 0) scale(pow($card-scale-below, 3)) translateY($card-shift-below * 3);
  transform: translate3d(0, 0, 0) scale(pow($card-scale-below, 3)) translateY($card-shift-below * 3);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;

  transition: box-shadow $card-place-down cubic-bezier(.25,.8,.25,1), transform $card-return ease-out, opacity $card-dismiss, z-index $card-dismiss;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  opacity: 0;

  z-index: 1;

  .dark-theme & {
    background-color: #424242;
  }

  &.current,
  .non-current &:first-child {
    -webkit-transform: none;
    transform: none;
    will-change: transform;

    opacity: 1;

    + .card {
      -webkit-transform: scale($card-scale-below) translateY($card-shift-below);
      transform: scale($card-scale-below) translateY($card-shift-below);

      opacity: 1;

      + .card {
        -webkit-transform: scale(pow($card-scale-below, 2)) translateY($card-shift-below * 2);
        transform: scale(pow($card-scale-below, 2)) translateY($card-shift-below * 2);

        opacity: 1;
      }
    }
  }

  &.complete {
    //background-color: #CCC;

    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  &.dragging {
    @include shadow-8;

    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    transition: box-shadow $card-pick-up cubic-bezier(.25,.8,.25,1), opacity $card-dismiss, z-index $card-dismiss;

    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;

    z-index: 2;
  }

  &.saved {
    button {
      &.save-card {
        color: #FFF;

        //background-color: #C00;

        &::after {
          border-color: $secondary-colour transparent transparent $secondary-colour;
        }
      }
    }
  }

  &.dismissed {
    transition: visibility 1ms $card-dismiss, transform $card-dismiss, opacity $card-dismiss, z-index $card-dismiss;

    visibility: hidden;

    opacity: 0;

    //z-index: 3 !important;
  }

  button {
    &.show-activities,
    &.hide-activities,
    &.save-card {
      position: absolute;
    }

    &.show-activities {
      width: $button-height;
      height: $button-height;

      right: 16px;
      bottom: 16px;

      color: #FFF;

      background-color: $secondary-colour;

      border: none;
      border-radius: 100%;

      box-shadow: 0 0 0 0 $secondary-colour;

      transition: right 1ms $activities-fade-out, color $activities-transition-out $activities-fade-out, box-shadow $activities-transition-out $activities-fade-out;

      z-index: 2;

      &.prompt {
        -webkit-animation: shake 1s infinite;
        animation: shake 1s infinite;
      }
    }

    &.hide-activities {
      width: $button-height;

      top: 0;
      right: -$button-height;

      color: #FFF;

      background: none;

      border: none;

      transition: right $activities-fade-out;

      z-index: 4;
    }

    &.save-card {
      width: ($button-height * 1.25);
      height: ($button-height * 1.25);
      padding: 0 ($button-height * 0.375) ($button-height * 0.375) 0;

      top: 0;
      left: 0;

      color: $secondary-colour;

      background: transparent;

      border: none;

      z-index: 1;

      &::after {
        position: absolute;
        top: 0;
        left: 0;

        border: ($button-height * 0.75) transparent solid;

        content: "";
      }
    }
  }

  .activities {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 200%;

    color: #FFF;
    font-size: 16px;

    border: none;
    border-radius: 100%;

    opacity: 0;

    transition: left 1ms $activities-fade-out, opacity $activities-fade-out;

    z-index: 3;
  }

  .card-activities-indicator {
    width: $button-height;

    position: absolute;
    top: $button-height;
    bottom: $button-height;
    left: -$button-height;

    @include flexbox-vertical;
    align-items: center;
    justify-content: center;

    transition: left $activities-fade-out;

    z-index: 4;

    > div {
      width: 8px;
      height: 8px;
      margin: 8px 0;

      background-color: transparent;

      border: 1px #FFF solid;
      border-radius: 100%;

      transition: background-color $activity-transition-out;

      &.current {
        background-color: #FFF;

        transition: background-color $activity-transition-in $activity-transition-out;
      }
    }
  }

  &.show-activities {
    button {
      &.show-activities {
        right: -$button-height;

        color: transparent;

        box-shadow: 0 0 0 700px $secondary-colour;

        transition: right 1ms ($activities-transition-in - 1ms), color $activities-transition-in, box-shadow $activities-transition-in;
      }

      &.hide-activities {
        right: 0;

        transition: right $activities-fade-in $activities-transition-in;
      }
    }

    .activities {
      left: 0;

      opacity: 1;

      transition: left 1ms $activities-transition-in, opacity $activities-fade-in $activities-transition-in;
    }

    .card-activities-indicator {
      left: 0;

      transition: left $activities-fade-in $activities-transition-in;
    }
  }

  .card-contents {
    width: 100%;
    //max-height: 100%;
    padding: $card-padding-y $card-padding-x;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: relative;

    line-height: 1.35;

    z-index: 1;

    .card-image-header {
      //max-width: calc(100% + (2 * #{$card-padding-x}));
      //margin-top: -$card-padding-y;
      //margin-right: -($card-padding-x);
      margin-bottom: $card-padding-x;
      //margin-left: -($card-padding-x);
    }
  }
}