.chapter {
  width: 100%;
  height: 100%;

  transition: transform $stack-transition $stack-complete;

  .chapter-content {
    width: 100%;
    height: 100%;

    .stack,
    .component {
      width: 100%;
      height: 100%;
    }
  }
}