.course {
  @include flexbox-vertical;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: transform 400ms;

  counter-set: chapter;

  &.rtl {
    direction: rtl;
  }

  &.overview {
    .chapters {
      max-width: ($card-width + 24px);
      max-height: ($card-height + 42px);

      transition: all $course-overview-transition;
      //transition: none;

      .chapters-inner {
        transition: all $course-overview-transition;

        .chapter {
          -webkit-transform: none !important;
          transform: none !important;

          -webkit-transition: transform $course-overview-transition;
          transition: transform $course-overview-transition;

          .chapter-title {
            margin-left: 0;
          }

          .chapter-item-title {
            @include flexbox-vertical;

            //-webkit-transform: translate3d(0, 0, 0);
            //transform: translate3d(0, 0, 0);

            //opacity: 1;
          }

          .stack {
            &.current {
              background-color: $secondary-colour;
            }

            //&.non-current {
            //  &.empty {
            //    .card {
            //      visibility: visible;
            //
            //      opacity: 0.35;
            //
            //      -webkit-transform: none !important;
            //      transform: none !important;
            //
            //      &:first-child {
            //        ~ .card,
            //        ~ .component {
            //          display: none;
            //        }
            //      }
            //    }
            //
            //    .material-icons {
            //      display: none;
            //    }
            //  }
            //}
          }

          .cards,
          .component-contents {
            display: none;
          }
        }
      }
    }
  }

  .chapters {
    max-width: 100%;
    width: 100%;
    max-height: calc(100% - #{$menubar-height});
    height: calc(100% - #{$menubar-height});
    //height: 100%;

    @include flex(1 0 auto);

    //overflow: hidden;

    position: relative;

    //white-space: nowrap;

    transition: all $course-overview-transition;
    transform-origin: 0 0;

    z-index: 1;

    .chapters-inner {
      width: 100%;
      height: 100%;

      //transition: all $chapter-item-advance-transition $stack-complete;
      transition: all $chapter-item-advance-transition;

      .chapter {
        //@include inline-flexbox;
        //display: inline-block;

        vertical-align: top;
        //white-space: normal;
      }
    }
  }
}