.course {
  @include flexbox-vertical;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: transform 400ms;

  &.rtl {
    direction: rtl;
  }

  &.overview {
    .chapters {
      max-width: ($card-width + 24px);
      max-height: ($card-height + 42px);

      transition: all $course-overview-transition;
      //transition: none;

      .chapter {
        -webkit-transform: none !important;
        transform: none !important;

        -webkit-transition: transform $course-overview-transition;
        transition: transform $course-overview-transition;

        .stack,
        .component {
          //background-color: #C00;

          //box-shadow: inset 10px 10px 15px rgba(0, 0, 0, 0.25);
        }

        .stack {
          &.current {
            //background-color: $secondary-colour;

            .card {
              &:first-child {
                outline: 8px $secondary-colour solid;
              }
            }
          }

          &.non-current {
            &.empty {
              .card {
                visibility: visible;

                opacity: 0.35;

                -webkit-transform: none !important;
                transform: none !important;

                &:first-child {
                  ~ .card,
                  ~ .component {
                    display: none;
                  }
                }
              }

              .material-icons {
                display: none;
              }
            }
          }
        }

        .cards,
        .component-contents {
          //display: none;
        }
      }
    }
  }

  .chapters {
    max-width: 100%;
    width: 100%;
    max-height: calc(100% - #{$menubar-height});
    height: calc(100% - #{$menubar-height});
    //height: 100%;

    @include flex(1 0 auto);

    //overflow: hidden;

    position: relative;

    //white-space: nowrap;

    transition: all $course-overview-transition $card-dismiss;
    transform-origin: 0 0;

    z-index: 1;

    .chapter {
      //@include inline-flexbox;
      //display: inline-block;

      vertical-align: top;
      //white-space: normal;
    }
  }
}