.menubar {
  @include flexbox;
  align-items: center;
  //flex-direction: row-reverse;
  justify-content: space-between;
  @include flex(0 0 $menubar-height);
  //align-items: flex-start;

  position: relative;

  background-color: $primary-colour;

  @include shadow-4;

  z-index: 2;

  .dark-theme & {
    background-color: #212121;
  }

  .spacer {
    @include flex(1 0);
  }

  > button {
    min-width: $menubar-height;

    @include flex(0 1);

    color: $active-icon-colour-inverted;

    background: none;
  }

  .menubar-submenu-wrapper {
    position: relative;

    button {
      min-width: $menubar-height;

      color: $active-icon-colour-inverted;

      background: none;
    }

    .menubar-submenu {
      width: 168px;
      padding-top: 8px;
      padding-bottom: 8px;

      position: absolute;
      top: 16px;
      right: 16px;

      background-color: #FFF;

      border-radius: $card-border-radius;

      @include shadow-8;

      .menubar-submenu-item {
        min-height: 24px;
        padding: 12px 16px;

        @include flexbox;
        align-items: center;

        background-color: transparent;

        .menubar-submenu-item-icon {
          width: 24px;
          height: 24px;

          position: relative;

          @include flex(0 0 56px);

          color: $active-icon-colour;

          .dark-theme & {
            color: $active-icon-colour-inverted;
          }
        }

        .menubar-submenu-item-title {
          @include flex(1);

          color: $primary-text-colour;
          font-weight: $font-weight-1;

          .dark-theme & {
            color: $primary-text-colour-inverted;
          }
        }
      }
    }
  }
}
