//https://material.io/guidelines/components/lists-controls.html#lists-controls-types-of-list-controls

.sidebar {
  max-width: 480px;
  width: calc(100% - 56px);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  overflow: auto;

  background-color: #FFF;

  box-shadow:  0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12), 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 9999px rgba(0, 0, 0, 0);

  transform: translateX(-100%);

  transition: box-shadow $sidebar-transition ease-in, transform $sidebar-transition ease-in;

  z-index: 3;

  .dark-theme & {
    background-color: #424242;
  }

  .rtl & {
    right: 0;
    left: auto;

    transform: translateX(-100%);
  }

  .show-sidebar & {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14),
    0 6px 30px 5px rgba(0, 0, 0, .12),
    0 8px 10px -5px rgba(0, 0, 0, .4),
    0 0 0 9999px rgba(0, 0, 0, .5);

    transform: none;

    transition: box-shadow $sidebar-transition ease-out, transform $sidebar-transition ease-out;
  }

  .sidebar-header {
    min-height: 150px;
    padding: $menubar-height 16px 16px;

    @include flexbox-vertical;
    justify-content: flex-end;

    position: relative;

    color: #FFF;

    background: url("https://c2.staticflickr.com/4/3749/9446565753_5a49366847.jpg") center no-repeat;
    background-size: cover;

    &::after {
      height: 120px;

      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

      content: "";
    }

    .toggle-sidebar {
      width: $menubar-height;

      position: absolute;
      top: 0;
      right: 0;

      background-color: transparent;

      .rtl & {
        right: auto;
        left: 0;
      }
    }

    p {
      padding-top: 0;
    }

    .course-progress {
      margin-top: 16px;

      @include flexbox;
      align-items: center;

      progress {
        height: 4px;

        @include flex(1 0);

        -webkit-appearance: none;
        appearance: none;

        &::-webkit-progress-bar {
          background-color: rgba(255, 255, 255, 0.25);

          //border-radius: 20px;
        }

        &::-webkit-progress-value {
          background-color: #FFF;

          //border-radius: 20px;
        }
      }

      .course-progress-percentage {
        margin-left: 18px;

        @include flex(0 1);

        font-size: 0.8rem;
      }
    }
  }

  .sidebar-nav {
    @include flexbox;

    position: sticky;
    top: 0;

    //background-color: $primary;

    //@include shadow-4;

    button {
      + button {
        //margin-left: 6px;
      }

      //.dark-theme & {
      //  color: $active-icon-colour-inverted;
      //
      //  background-color: #303030;
      //}

      &.current {
        color: $primary-colour;

        background-color: #FFF;

        .dark-theme & {
          color: $active-icon-colour-inverted;

          background-color: #424242;
        }
      }
    }
  }

  .sidebar-content {
    padding: 16px;
  }
}