.stack {
  padding: 24px 16px;

  flex-wrap: wrap;

  .stack-title {
    width: $card-width;
    max-width: 100%;
    margin-bottom: 24px;

    display: none;

    position: relative;

    @include flex(0);

    text-align: center;
    font-size: 1.25rem;
    font-weight: 900;

    z-index: 1;
  }

  .cards {
    width: $card-width;
    //max-width: calc(100% - 32px);
    max-width: 100%;
    max-height: $card-height;
    //max-height: calc(100% - 48px);

    position: relative;

    @include flex(1);

    white-space: normal;

    z-index: 2;

    > .material-icons {
      height: 180px;
      margin-top: -90px;

      //display: none;

      position: absolute;
      top: 50%;
      right: 0;
      left: 0;

      color: $inactive-icon-colour;
      font-size: 8rem;
      line-height: 180px;
      text-align: center;

      -webkit-transform: scale(0);
      transform: scale(0);

      transition: all ($stack-complete * 0.75);

      opacity: 0;

      z-index: -1;

      .dark-theme & {
        color: $inactive-icon-colour-inverted;
      }
    }
  }

  &.empty {
    .cards {
      > .material-icons {
        -webkit-transform: scale(1);
        transform: scale(1);

        opacity: 1;
      }
    }
  }
}