.stack {
  @include flexbox;
  align-items: center;
  justify-content: center;

  .cards {
    width: $card-width;
    max-width: calc(100% - 16px);
    height: $card-height;
    //max-height: calc(100% - #{48px + $menubar-height});
    max-height: calc(100% - 32px);
    //margin-top: ($menubar-height / 2);

    position: relative;

    white-space: normal;

    z-index: 2;

    > .material-icons {
      height: 180px;
      margin-top: -90px;

      //display: none;

      position: absolute;
      top: 50%;
      right: 0;
      left: 0;

      color: $inactive-icon-colour;
      font-size: 8rem;
      line-height: 180px;
      text-align: center;

      transform: scale(0);

      transition: all ($stack-complete * 0.75);

      opacity: 0;

      z-index: -1;

      .dark-theme & {
        color: $inactive-icon-colour-inverted;
      }
    }
  }

  &.empty {
    .cards {
      > .material-icons {
        transform: scale(1);

        opacity: 1;
      }
    }
  }
}