$menubar-height: 56px;

$sidebar-max-width: 480px;

$button-height: 56px;

$card-width: 400px;
$card-height: 600px;
$card-border-radius: 2px;
$card-padding-x: 32px;
$card-padding-y: 48px;

$card-scale-below: 0.99;
$card-shift-below: 4px;
