$button-transition-in: 120ms;
$button-transition-out: 300ms;

$course-overview-transition: 600ms;

$transition-fade: 300ms;

$sidebar-transition: 300ms;

$chapter-item-advance-transition: 800ms;

$activities-transition-in: 600ms;
$activities-fade-in: 300ms;
$activities-fade-out: 300ms;
$activities-transition-out: 600ms;

$activity-transition-out: 300ms;
$activity-transition-in: 300ms;

$card-pick-up: 200ms;
$card-place-down: 300ms;
$card-return: 200ms;
$card-dismiss: 300ms;
$card-move-up: 400ms;

$stack-complete: 800ms;
