@import url('https://fonts.googleapis.com/css?family=Lato:300,700,900');

$primary-font-family: "Lato", sans-serif;

$font-weight-1: 300;
$font-weight-2: 700;
$font-weight-3: 900;
$default-font-weight: $font-weight-1;
