.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @include flexbox;
  justify-content: center;
  align-items: center;
}

.sk-cube-grid {
  width: 120px;
  height: 120px;

  .sk-cube {
    width: (100% / 3);
    height: (100% / 3);

    float: left;

    background-color: $primary-colour;

    -webkit-animation: sk-cubeGridScaleDelay 1.2s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.2s infinite ease-in-out;

    &.dark-theme {
      background-color: #FFF;
    }
  }

  //.sk-cube7 {
  //  -webkit-animation-delay: 0s;
  //  animation-delay: 0s;
  //}

  .sk-cube4,
  .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }

  .sk-cube1,
  .sk-cube5,
  .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }

  .sk-cube2,
  .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 60%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  30% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 60%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  30% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}