button {
  width: 100%;
  min-height: $button-height;

  @include flexbox;
  align-items: center;
  justify-content: center;

  color: $primary-text-colour-inverted;
  font-weight: 900;

  background-color: $primary-colour;

  border: none;
  outline: none;

  transition: color $button-transition-out, background-color $button-transition-out;

  cursor: pointer;

  &:hover {
    background-color: $primary-colour-dark;

    transition: color $button-transition-in, background-color $button-transition-in;
  }

  .dark-theme & {
    background-color: #303030;

    &:hover {
      background-color: #212121;
    }
  }
}