button {
  width: 100%;
  min-height: $button-height;

  @include flexbox;
  align-items: center;
  justify-content: center;

  color: $primary-text-colour-inverted;
  font-weight: 900;

  background-color: $primary-colour;

  border: none;
  outline: none;

  transition: color 300ms, background-color 300ms;

  cursor: pointer;

  &:hover {
    background-color: $primary-colour-dark;

    transition: color 120ms, background-color 120ms;
  }

  .dark-theme & {
    background-color: #303030;

    &:hover {
      background-color: #212121;
    }
  }
}