$primary-colour: #009688;
$primary-colour-light: #4DB6AC;
$primary-colour-dark: #00796B; //#004D40
$secondary-colour: #F44336;
$secondary-colour-light: #E57373;
$secondary-colour-dark: #D32F2F;

$primary-text-colour: rgba(0, 0, 0, 0.87);
$secondary-text-colour: rgba(0, 0, 0, 0.54);
$disabled-text-colour: rgba(0, 0, 0, 0.38);
$divider-colour: rgba(0, 0, 0, 0.12);

$primary-text-colour-inverted: rgba(255, 255, 255, 1);
$secondary-text-colour-inverted: rgba(255, 255, 255, 0.7);
$disabled-text-colour-inverted: rgba(255, 255, 255, 0.5);
$divider-colour-inverted: rgba(255, 255, 255, 0.12);

$active-icon-colour: $secondary-text-colour;
$inactive-icon-colour: $disabled-text-colour;

$active-icon-colour-inverted: $primary-text-colour-inverted;
$inactive-icon-colour-inverted: $disabled-text-colour-inverted;

$menubar-height: 56px;

$button-height: 56px;
$button-transition-in: 120ms;
$button-transition-out: 300ms;

$course-overview-transition: 600ms;

$transition-fade: 300ms;

$sidebar-transition: 300ms;

$chapter-item-advance-transition: 800ms;

$activities-transition-in: 600ms;
$activities-fade-in: 300ms;
$activities-fade-out: 300ms;
$activities-transition-out: 600ms;

$activity-transition-out: 300ms;
$activity-transition-in: 300ms;

$card-width: 400px;
$card-height: 600px;
$card-border-radius: 2px;
$card-padding-x: 32px;
$card-padding-y: 48px;

$card-scale-below: 0.99;
$card-shift-below: 4px;

$card-pick-up: 200ms;
$card-place-down: 300ms;
$card-return: 200ms;
$card-dismiss: 300ms;
$card-move-up: 400ms;

$stack-complete: 800ms;