@import url('https://fonts.googleapis.com/css?family=Lato:300,700,900');

@import "variables";

@import "modules/functions";
@import "modules/mixins";
@import "modules/animations";

@import "modules/fonts";
@import "modules/buttons";
@import "modules/transitions";

@import "components/menubar";
@import "components/sidebar";
@import "components/course";
@import "components/chapter";
@import "components/component";
@import "components/stack";
@import "components/card";
@import "components/activity";