.course {
  @include flexbox-vertical;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: transform 400ms;

  &.rtl {
    direction: rtl;
  }

  &.overview {
    .chapters {
      width: 460px;
      height: 660px;
      padding: 30px;

      transform: scale(0.25) !important;

      transition: width $course-overview-transition, height $course-overview-transition, padding $course-overview-transition, transform $course-overview-transition;

      .chapter {
        transform: none !important;

        transition: transform $course-overview-transition;

        .stack,
        .component {
          background-color: #C00;
        }

        .cards,
        .component-contents {
          display: none;
        }
      }
    }
  }

  .chapters {
    //width: 100%;
    height: calc(100% - #{$menubar-height});

    @include flex(1 0 auto);

    //overflow: hidden;

    position: relative;

    white-space: nowrap;

    transition: transform $stack-transition $card-dismiss;
    transform-origin: 0 0;

    z-index: 1;

    .chapter {
      //@include inline-flexbox;
      display: inline-block;

      vertical-align: top;
      white-space: normal;
    }
  }
}