.course {
  transform-origin: 0 0;

  transition: transform 400ms;

  &.overview {
    transform: scale(0.25);

    .segments {
      width: 460px;
      height: 660px;
      padding: 30px;

      transform: none !important;

      transition: width $course-overview-transition, height $course-overview-transition, padding $course-overview-transition, transform $course-overview-transition;
    }

    .segment {
      transform: none !important;

      transition: transform $course-overview-transition;
    }

    .stack {}

    .cards {
      background-color: #F00;

      .card {
        opacity: 0 !important;
      }
    }

    /*.card {
      top: 0 !important;
      left: 0 !important;

      visibility: visible;

      opacity: 1;

      transition: top $course-overview-transition, left $course-overview-transition, visibility $course-overview-transition, opacity $course-overview-transition;
    }*/
  }

  .segments {
    width: 100vw;
    height: 100vh;

    transition: transform $stack-transition $card-dismiss;
  }

  .toggle-overview {
    position: absolute;
    top: 0;
    left: 0;
  }
}