.menubar {
  @include flexbox;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  @include flex(0 0 $menubar-height);

  position: relative;

  background-color: $menubar-colour;

  @include shadow-4;

  z-index: 2;

  h1 {
    color: #FFF;
  }

  button {
    width: $menubar-height;

    color: #FFF;

    background: none;

    border: none;
    outline: none;
  }
}