.stack {
  @include flexbox;
  align-items: center;
  justify-content: center;

  .cards {
    width: $card-width;
    min-width: $card-min-width;
    max-width: calc(100% - 24px);
    height: $card-height;
    min-height: $card-min-height;
    max-height: calc(100% - 48px);

    position: relative;

    white-space: normal;

    z-index: 2;

    > .material-icons {
      height: 180px;
      margin-top: -90px;

      //display: none;

      position: absolute;
      top: 50%;
      right: 0;
      left: 0;

      color: #BDBDBD;
      font-size: 8rem;
      line-height: 180px;
      text-align: center;

      transform: scale(0);

      transition: all ($stack-complete * 0.75);

      opacity: 0;

      z-index: -1;
    }
  }

  &.empty {
    .cards {
      > .material-icons {
        transform: scale(1);

        opacity: 1;
      }
    }
  }
}