@import "../../../core/sass/modules/functions";
@import "../../../core/sass/modules/mixins";
@import "../../../core/sass/variables";

.component-conversation {
  .component-contents {
    height: 100%;

    @include flexbox-vertical;

    .conversation-contents {
      @include flexbox-vertical;
      //justify-content: flex-end;
      flex-direction: column-reverse;
      @include flex(1 0);

      overflow: auto;

      > div {
        max-width: 500px;
        margin: 0 auto;
        padding: 0 24px 24px;
      }

      .conversation-item {
        margin-right: 48px;
        margin-top: 24px;
        padding: 18px;

        position: relative;

        background-color: #FFF;

        border-radius: 3px;

        @include shadow-2;

        transition: all 200ms;

        &::after {
          position: absolute;
          top: 10px;
          left: 100%;

          border: 10px transparent solid;
          border-left-color: #FFF;

          content: "";
        }

        &.me {
          margin-right: 0;
          margin-left: 48px;

          color: #FFF;

          background-color: $primary;

          &::after {
            right: 100%;
            left: auto;

            border-right-color: $primary;
            border-left-color: transparent;
          }
        }

        &.conversation-item-add-enter,
        &.conversation-item-add-leave-to {
          opacity: 0;
          transform: translateY(30px);
        }

        &.conversation-item-add-enter-to {
        }

        h5 {
          padding-bottom: 1rem;
        }

        p {
          &:first-child {
            padding-top: 0;
          }
        }
      }
    }

    .conversation-options {
      padding: 18px;

      @include flex(0 1 48px);

      //background-color: rgba(255, 255, 255, 0.25);

      button {
        color: #212121;

        background-color: #FFF;
      }
    }
  }
}