.card[data-card="title"] {
  align-items: center;
  justify-content: center;

  text-align: center;

  img {
    max-width: 6em;
    margin: 0 auto 1em;
  }

  h2 {
    padding-top: 1em;
  }

  p {
    margin-top: 8em;

    font-size: 1.1em;
  }
}